body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
	padding-top:.01em;
}

.nav{
	margin-bottom: 1em;
}
.col{
	width:auto;
}
#contacttable{
	height: 40%;
	overflow: auto;
	margin-bottom: 15px;
	text-align: center;
}

#mapid{
	height: 50%;
	padding: 0px;
	width: 100%;
}

div#contactform.contactpage {
	display: none;
}